:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-saturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-transparent-white: hsla(0, 0%, 100%, 0.6);
    --font-size: 2em;
    --font-regular: 400;
    --font-bold: 700;
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--very-dark-blue);
    font-family: var(--font-inter);
}

main {
    margin: 0;
    padding: 4rem 1rem;
}

h1, h2, h3, h4, h5 {
    line-height: calc(var(--font-size) * 0.6);
}

p {
    line-height: calc(var(--font-size) * 0.8);
}

.highlighted-text {
    color: var(--soft-violet);
}

.uppercase-text {
    text-transform: uppercase;
}

.modal {
    background-color: var(--dark-saturated-blue);
    color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.img-wrapper {
    position: relative;
}

.img-wrapper::before {
    position: absolute;
    inset: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--soft-violet);
    opacity: 0.5;
}

.img-wrapper > picture > img {
    display: block;
    max-width: 100%;
}

.text-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.heading {
    font-weight: var(--font-bold);
    font-size: calc(var(--font-size) * 1);
    margin: 0;
    padding: 0;
    text-align: center;
}

.paragraph {
    font-weight: var(--font-regular);
    font-size: calc(var(--font-size) * 0.5);
    margin: 1rem 0;
    padding: 0;
    text-align: center;
    color: var(--slightly-transparent-white);
}

.stats-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0 0 0;
    gap: 2rem;
}

.number {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-weight: var(--font-bold);
    font-size: calc(var(--font-size) * 0.6);
    display: block;
}

.description {
    font-family: var(--font-lexend);
    font-size: calc(var(--font-size) * 0.4);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
    display: block;
    color: var(--very-transparent-white);
}

.attribution {
    color: var(--white);
}

@media only screen and (min-width: 1440px) {
    body {
        display: grid;
        place-items: center;
    }

    main {
        padding: 6rem 0;
    }

    .modal {
        flex-direction: row-reverse;
        max-width: 1000px;
    }

    .text-wrapper {
        max-width: 500px;
        margin: 0 auto;
        padding: 4rem;
    }

    .heading {
        text-align: start;
    }

    .paragraph {
        text-align: start;
    }

    .stats-wrapper {
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        margin: 4rem 0 0 0;
        gap: 4rem;
    }
}